body {
  margin: 0;
  font-family: 'Federo', serif;
  color: rgba(0, 0, 0, 0.7);
}
/* 
a {
  text-decoration: none;
  color: black;
}
*/

.app {
  height: 100%;}

p {
  margin: 0;
}

.home {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e7f1f1+1,7cb3bc+52,685d99+100 */
  background: linear-gradient(to bottom,  #93c4c0 3%,#c4e4c5 60%,#faead1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7f1f1', endColorstr='#685d99',GradientType=0 );
}

.imgDiv {
  grid-column: 2/3;
}

.homeInfo {
  grid-column: 3/4;
}


.resume {
  height: 100%;
  /* min-height: 90vh; */
  width: 100%;
  display: inline-block;
  margin: 0;
  text-align: center;
  justify-content: center;
  background: linear-gradient(to bottom,  #93c4c0 3%,#c4e4c5 60%,#faead1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7f1f1', endColorstr='#685d99',GradientType=0 ); /* IE6-9 */
}

.resume > img {
  height: 130vh;
  width: auto;
  padding: 20px 0px 20px 0px;
  text-align: center;
} 

.downloadResume {
  width: auto;
  display: block;
  padding-top: 18px;
  margin: 0;
  font-size: 18px;
}

.downloadResume > a {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
}

.downloadResume:hover {
    color: rgb(14, 19, 16);
    text-decoration: underline;
}

.scale-in-center {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@import url('https://fonts.googleapis.com/css?family=Expletus+Sans|Trochut|Yeseva+One&display=swap');
.tracking-in-expand {
  font-family: 'Expletus Sans', 'Federo', 'Yeseva One', 'Trochut', 'Georgia', serif;
  display: block;
  justify-content: center;
  padding: 15px 0px 25px 0px;
	-webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.1, 0.355, 1.000) both;
	        animation: tracking-in-expand 1s cubic-bezier(0.215, 0.1, 0.355, 1.000) both;
}

 @-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

 @-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.projects {
  height: 100%;
  min-height: 78vh;
  width: 100%;
  background: linear-gradient(to bottom,  #93c4c0 3%,#c4e4c5 60%,#faead1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7f1f1', endColorstr='#685d99',GradientType=0 ); /* IE6-9 */
  font-size: 18px;
  color: #685d99;
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-gap: 20px;
  justify-items: center;
  flex-direction: column;
  padding-top: 16px;
}

.project1 {
  grid-row: 1/2;
  justify-self: center;
  text-align: center;
}
.project1 > a {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  margin-top: 14px;
}
.project1 > a:hover {
  color: rgb(14, 19, 16);
  text-decoration: underline;
}
.project1 > img {
  display: block;
  height: auto;
  width: 400px;
  padding: 40px;
}

.project2 {
  grid-row: 2/3;
  justify-self: center;
  text-align: center;
}
.project2 > a {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  margin-top: 14px;
}
.project2 > a:hover {
  color: rgb(14, 19, 16);
  text-decoration: underline;
}
.project2 > img {
  display: block;
  height: auto;
  width: 400px;
  padding: 40px;
}

.project3 {
  grid-row: 3/4;
  justify-self: center;
  text-align: center;
}
.project3 > a {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  margin-top: 14px;
}
.project3 > a:hover {
  color: rgb(14, 19, 16);
  text-decoration: underline;
}
.project3 > img {
  display: block;
  height: auto;
  width: 400px;
  padding: 40px;
}

.navLink {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}

.navLink:hover {
  color: rgb(14, 19, 16);
  text-decoration: underline;
}

.navLinkActive {
  color: rgb(14, 19, 16);
  text-decoration: underline;
}